<div class="w-full lg:w-7/12 p-5 cstm-bg-sand shadow-2xl justify-items-center">
  <div class="text-gray-500">
    <div class="text-center mt-2 mb-10 text-lg font-medium">Conditions d'utilisation de Ma Voirie</div>
      <p>Bienvenue sur le site web de Ma Voirie. Ces conditions d'utilisation régissent votre utilisation de notre site web et de ses services connexes. En utilisant Ma Voirie, vous acceptez d'être lié par les présentes conditions. Veuillez les lire attentivement avant d'utiliser notre site.</p>
      <p class="font-medium mt-4">Description du service</p>
      <p>
        Ma Voirie est un site web destiné à permettre aux utilisateurs de signaler des problèmes de voirie dans une rue spécifique liée à une commune. Les utilisateurs peuvent créer un compte et soumettre des signalements accompagnés de photos pour documenter les problèmes rencontrés.
      </p>
      <p class="font-medium mt-4">Utilisation du site</p>
      <ol>
        <li class="list-decimal ml-6">
          Admissibilité : Vous devez avoir au moins 18 ans pour utiliser Ma Voirie. Si vous utilisez le site au nom d'une entité, vous déclarez avoir l'autorité légale pour lier cette entité aux présentes conditions d'utilisation.
        </li>
        <li class="list-decimal ml-6">
          Compte utilisateur : Vous pouvez créer un compte utilisateur sur Ma Voirie en fournissant des informations précises et à jour. Vous êtes responsable de la confidentialité de votre compte et de toutes les activités qui s'y déroulent. Vous vous engagez à ne pas partager votre compte avec d'autres personnes.
        </li>
        <li class="list-decimal ml-6">
          Signalements : Lorsque vous soumettez un signalement sur Ma Voirie, vous acceptez de fournir des informations exactes et complètes sur le problème de voirie en question. Vous reconnaissez que vos signalements et les photos associées peuvent être rendus publics sur le site.
        </li>
        <li class="list-decimal ml-6">
          Utilisation acceptable : Vous vous engagez à utiliser Ma Voirie de manière légale, éthique et respectueuse. Vous ne devez pas publier de contenu diffamatoire, obscène, offensant, discriminatoire, illégal ou contraire aux droits de propriété intellectuelle d'autrui.
        </li>
      </ol>
      <p class="font-medium mt-4">Propriété intellectuelle</p>
      <ol>
        <li class="list-decimal ml-6">
          Droits d'auteur : Le contenu présent sur Ma Voirie, y compris les textes, les images, les logos et les éléments graphiques, est protégé par des droits d'auteur. Vous vous engagez à respecter ces droits et à ne pas reproduire, modifier ou distribuer le contenu sans autorisation préalable.
        </li>
        <li class="list-decimal ml-6">
          Licence limitée : En soumettant un signalement sur Ma Voirie, vous accordez à Ma Voirie une licence mondiale, non exclusive, gratuite et transférable pour utiliser, reproduire, modifier, publier et distribuer votre signalement, y compris les photos associées.
        </li>
      </ol>
      <p class="font-medium mt-4">Confidentialité</p>
      <p>
        Ma Voirie respecte votre vie privée. Veuillez consulter notre politique de confidentialité pour comprendre comment nous collectons, utilisons et protégeons vos informations personnelles.
      </p>
      <p class="font-medium mt-4">Limitation de responsabilité</p>
      <ol>
        <li class="list-decimal ml-6">
          Utilisation à vos propres risques : Vous utilisez Ma Voirie à vos propres risques. Nous ne garantissons pas l'exactitude, l'exhaustivité ou la fiabilité des informations disponibles sur le site. Vous êtes responsable de vérifier les informations avant de prendre des décisions basées sur les signalements publiés.
        </li>
        <li class="list-decimal ml-6">
          Exclusion de responsabilité : Dans toute la mesure permise par la loi, Ma Voirie décline toute responsabilité pour les dommages directs, indirects, accessoires, consécutifs ou spéciaux découlant de votre utilisation de notre site ou de l'impossibilité de l'utiliser.
        </li>
      </ol>
      <p class="font-medium mt-4">Modification des conditions</p>
      <p>
        Ma Voirie se réserve le droit de modifier ces conditions d'utilisation à tout moment. Les modifications entreront en vigueur dès leur publication sur le site. Il est de votre responsabilité de consulter régulièrement les conditions d'utilisation pour vous tenir informé des éventuelles modifications.
      </p>
      <p class="font-medium mt-4">Loi applicable</p>
      <p>
        Les présentes conditions d'utilisation sont régies et interprétées conformément aux lois françaises. Tout litige découlant de votre utilisation de Ma Voirie sera soumis à la compétence exclusive des tribunaux français.
      </p>
      <p class="mt-4">Si vous avez des questions concernant ces conditions d'utilisation, veuillez nous contacter à l'adresse suivante : [adresse de contact].</p>
      <p class="mt-4">Date d'entrée en vigueur : [date d'entrée en vigueur des conditions d'utilisation].</p>
    </div>
    <div class = "flex justify-center mt-10">
      <%= link_to reports_path, class: "relative inline-flex items-center justify-center p-28 px-28 py-8 overflow-hidden font-medium text-white transition duration-300 ease-out border-2 border-white rounded-full shadow-md group", method: :get do %>
        <span class="bg-stone-400 text-white absolute flex items-center justify-center w-full h-full px-11 cstm-dark transition-all duration-300 transform group-hover:translate-x-full ease">
          Retour sur la page des signalements
        </span>
        <span class="bg-stone-500 absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 translate-x-full cstm-bg-yellow group-hover:translate-x-0 ease">
          <svg class="w-6 h-6 transform -rotate-270" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
          </svg>
        </span>
      <% end %>
    </div>
  </div>
</div>