<div class="email-content">
  <img class="banner-contact" src="https://i.ibb.co/Fb2rWNQ/Ma-Voirie-Banner.png"><br>
  <h1>Bonjour</h1><br>
  <p>Votre mot de passe a bien été changé.</p>
  <br><br>
  <a href="https://ma-voirie.herokuapp.com/users/sign_in" class="button">Allez sur le site MaVoirie</a>
  <br><br><br><br>
  <img class="logo" src="https://bouxwiller.eu/wp-content/uploads/2018/10/bouxwiller-2.jpg">
</div>
