<div class="email-content">
  <img class="banner-contact" src="https://i.ibb.co/Fb2rWNQ/Ma-Voirie-Banner.png"><br>
  <h1>Bienvenue sur le site MaVoirie de la commune de Bouxwiller!</h1><br>
  <p>Votre enregistrement est confirmé. Vous pouvez mettre à jour vos informations depuis le site MaVoirie et transmettre vos signalements à votre commune qui s'occupera de les valider ainsi que d'effectuer le suivi nécessaire.</p>
  <p>A trés bientôt!</p>
  <br><br>
  <a href="https://ma-voirie.herokuapp.com/users/sign_in" class="button">Allez sur le site MaVoirie</a>
  <br><br><br><br>
  <img class="logo" src="https://bouxwiller.eu/wp-content/uploads/2018/10/bouxwiller-2.jpg">
</div>
