<%= form_with(model: [@report, Comment.new], remote: true, class: "mt-4") do |form| %>
  <div class="flex">
    <%= form.text_area :content, placeholder: 'Ajouter un commentaire...', class: "form-input flex-1 mr-2", rows: 2 %>
    <%= form.button "Envoyer", class: "text-white cstm-bg-action cstm-light font-bold py-2 px-4 rounded-xl ml-10", type: "submit" %>
  </div>
<% end %>
