<div class="email-content">
  <img class="banner-contact" src="https://i.ibb.co/Fb2rWNQ/Ma-Voirie-Banner.png">
  <br>
  <h1>
    Vous avez un nouveau signalement!
  </h1>
  <br>
  <p>
    A vous de jouez, votre administré(e) attend la validation de son signalement!
  </p>
  <br><br>
  <a href="https://ma-voirie.herokuapp.com/" class="button">
    Aller sur le site.
  </a>
  <br><br><br><br>
  <img class="logo" src="https://bouxwiller.eu/wp-content/uploads/2018/10/bouxwiller-2.jpg">
</div>
