<div class="email-content">
  <img class="banner-contact" src="https://i.ibb.co/Fb2rWNQ/Ma-Voirie-Banner.png">
  <br>
  <h1>
    Merci pour votre signalement !
  </h1>
  <br>
  <p>
    La validation de ce dernier par notre équipe est en cours.
  </p>
  <p>
    Nous vous remercions pour ce geste fort d'implication dans l'amélioration de la voirie de votre commune !
  </p>
  <p>
    Vous pouvez voir l'évolution de votre signalement ainsi que les signalements envoyés par les autres utilisateurs en parcourant notre site web Ma Voirie.
  </p>
  <p>
    A très bientot!
  </p>
  <br>
  <br>
  <a href="https://ma-voirie.herokuapp.com/" class="button">
    Aller sur le site MaVoirie Bouxwiller.
  </a>
  <br><br><br><br>
  <img class="logo" src="https://bouxwiller.eu/wp-content/uploads/2018/10/bouxwiller-2.jpg">
</div>
