<div class="email-content">
  <img class="banner-contact" src="https://i.ibb.co/Fb2rWNQ/Ma-Voirie-Banner.png"><br>
  <h1>Nouveau message de <%= @contact_message.name %></h1>
    <p>
      Nom : <%= @contact_message.name %><br>
      Email : <%= @contact_message.email %><br>
      Message : <%= @contact_message.message %>
    </p>
  <br><br>
  <a href="https://yourwebsite.com/login" class="button">Aller sur le site MaVoirie Bouxwiller</a>
  <br><br><br><br>
  <img class="logo" src="https://bouxwiller.eu/wp-content/uploads/2018/10/bouxwiller-2.jpg">
</div>
