/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
  background-color: #ededed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.banner{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.nav-btn{
  color: #646464;
  user-select: none;
}

.nav-btn:hover{
  color: #ff9642;
  user-select: none;
}

.email-content {
  max-width: 600px;
  margin: 0 auto;
}

.banner-contact {
  width: 100%;
}

.logo {
  width: 100px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.cstm-bg-sand{
  background-color: #fff8cd;
}

.cstm-sand{
  color: #fff8cd;
}

.cstm-bg-yellow{
  background-color: #ffe05d;
}

.cstm-yellow{
  color: #ffe05d;
}

.cstm-bg-primary{
  background-color: #ff9642 !important;
}

.cstm-bg-action{
  background-color: #ff9642 !important;
}

.cstm-bg-action:hover{
  background-color: #e67e29 !important;
}

.cstm-primary{
  color: #ff9642;
}

.cstm-bg-danger{
  background-color: #ed5c2a !important;
}

.cstm-bg-danger:hover{
  background-color: #ac330b !important;
}

.cstm-danger{
  color: #ed5c2a;
}

.cstm-bg-dark{
  background-color: #646464!important;
}

.cstm-dark{
  color: #646464;
}

.cstm-bg-light{
  background-color: #e8e6e1;
}

.cstm-light{
  color: #e8e6e1;
}

.cstm-gray{
  color: #e8e6e1;
}

.cstm-gray:hover{
  color: #646464;
}

.cstm-bg-valid{
  background-color: #a8dfdd !important;
}

.cstm-valid{
  color: #a8dfdd;
}

.cstm-bg-valid-dark{
  background-color: #88c9c7 !important;
}

.cstm-bg-valid-dark:hover{
  background-color: #6db4b2 !important;
}

.cstm-valid-dark{
  color: #76CBC8;
}

.cstm-bg-body{
  background-color: #ededed;
}

.admin_drop{
  background-color: white;
}

.admin_drop:hover{
  background-color: #f5f4f2;
}

.border-dark {
  border: 2px solid #646464;
}

footer {
  margin-top: auto !important;
  bottom: 0 !important;
  width: 100% !important;
  background-color: #ededed;
}

::selection{
  background-color:#ffe05d; 
}