/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
  background-color: #ededed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.banner{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cstm-bg-sand{
  background-color: #fff8cd;
}

.cstm-sand{
  color: #fff8cd;
}

.cstm-bg-yellow{
  background-color: #ffe05d;
}

.cstm-yellow{
  color: #ffe05d;
}

.cstm-bg-primary{
  background-color: #ff9642;
}

.cstm-primary{
  color: #ff9642;
}

.cstm-bg-danger{
  background-color: #ed5c2a;
}

.cstm-danger{
  color: #ed5c2a;
}

.cstm-bg-dark{
  background-color: #646464!important;
}

.cstm-dark{
  color: #646464;
}

.cstm-bg-light{
  background-color: #e8e6e1;
}

.cstm-light{
  color: #e8e6e1;
}

.cstm-bg-valid{
  background-color: #a8dfdd;
}

.cstm-valid{
  color: #a8dfdd;
}

.border-dark {
  border: 2px solid #646464;
}