<div class="email-content">
  <img class="banner-contact" src="https://i.ibb.co/Fb2rWNQ/Ma-Voirie-Banner.png"><br>
  <p>Bonjour <%= @resource.email %>!</p>
  <p>Votre compte à été bloqué suite a un trop grand nombre de tentatives.</p>
  <p>Cliquez sur le lien ci-dessous pour débloquer votre compte:</p>
  <p><%= link_to 'Débloquer mon compte', unlock_url(@resource, unlock_token: @token) %></p>
  <br><br>
  <a href="https://yourwebsite.com/login" class="button">Aller sur le site MaVoirie Bouxwiller</a>
  <br><br><br><br>
  <img class="logo" src="https://bouxwiller.eu/wp-content/uploads/2018/10/bouxwiller-2.jpg">
</div>
