<div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-accepted-files="image/*" data-dropzone-max-files="3" data-upload-multiple="true">
  <%= form.file_field :images, multiple: true, direct_upload: true, data: { dropzone_target: 'input' } %>
  <div class="dropzone-msg dz-message needsclick">
    <h3 class="dropzone-msg-title">Glissez-déposez ou cliquez ici pour sélectionner les images.</h3>
    <span class="dropzone-msg-desc">Il est possible de sélectionner jusqu'à trois images avec une taille maximum de 8Mo chacune.</span>
  </div>
</div>