<footer>
  <div class="h-1 w-full cstm-bg-yellow"></div>
  <div class="h-1 w-full cstm-bg-primary"></div>
  <div class="h-1 w-full cstm-bg-light"></div>
  <div class="h-1 w-full cstm-bg-dark"></div>
  <article class="relativ pt-2.5">
    <section class="page-section flex justify-center items-center" id="footer">
      <div class="container text-center">
        <div class="flex justify-center">
          <div class="col-start-3 col-end-4">
            <img src="<%= asset_path('bouxwiller_logo.svg') %>" class="mx-auto h-[60px] w-[60px]" alt="bouxwiller_logo">
            <h4 class="text-center">Ville de Bouxwiller</h4>
            <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/mairiedebouxwiller67/" target=_blank aria-label="Facebook de votre commune"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://bouxwiller.eu/" target=_blank aria-label="Site de votre commune"><i class="far fa-building"></i></a>
          </div>  
        </div>
      </div>
    </section>
    <section class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-md cstm-dark font-semibold py-1">
          <%= link_to "Ma Voirie |", root_path, class: "cstm-dark hover:text-orange-800 h-[48px] w-[48px]" %>
          <%= link_to "Conditions générales d'utilisation |", '/conditions' ,class: "cstm-dark hover:text-orange-800 "%>
          <%= link_to 'Contact', new_contact_mailer_path, data: { turbo: false}, class: 'cstm-dark hover:text-orange-800' %>
        </div>
      </div>  
    </section>
  </article>
</footer>
