
<footer>
  <div>
    <div class="h-1 w-full bg-yellow-400"></div>
    <div class="h-1 w-full bg-orange-400"></div>
    <div class="h-1 w-full bg-white"></div>
    <div class="h-1 w-full bg-gray-600"></div>
  </div>
  <div  class="relative bg-gray-100 pt-2.5">
    <section class="page-section flex justify-center items-center" id="footer">
    <div class="container text-center">
      <div class="grid grid-cols-5 gap-4">
        <div class="col-start-3 col-end-4">
          <img src="<%= asset_path('bouxwiller_logo.png') %>" class="h-16 w-16 mx-auto" alt="bouxwiller_logo">
          <h4 class="text-center">Ville de Bouxwiller</h4>
          <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/mairiedebouxwiller67/" target=_blank aria-label="Facebook de votre commune"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="https://bouxwiller.eu/" target=_blank aria-label="Site de votre commune"><i class="far fa-building"></i></a>
        </div>  
      </div>
    </div>
  </section>
      <hr class="my-4 border-blueGray-300">
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
          <div class="text-sm text-blueGray-500 font-semibold py-1">
            <a href="#top" class="text-blueGray-500 hover:text-orange-800 ">Ma Voirie |</a>
            <a href="#top" class="text-blueGray-500 hover:text-orange-800 ">Conditions d'utilisation |</a>
            <%= link_to 'Contact', new_contact_path, class: 'text-blueGray-500 hover:text-orange-800' %>
          </div>
        </div>  
      </div>
    </div>
  </div>
</footer>

